<h1>ツイート</h1>
<hr>
<br>
<% @tweets.each do |tweet| %>
<p>
    <br>
    <% t2 = Time.current %>
    <% t1 = tweet.tdate %>
    <% t = t2 - t1 %>
   <%= tweet.message%>&nbsp;&nbsp;
   <%= t.ceil%><%= "秒前"%>&nbsp;&nbsp;&nbsp;
    <%= link_to '削除', "tweets/#{tweet.id}", method: :delete %>
    <%= link_to '表示', "tweets/#{tweet.id}" %>
    <%= link_to '編集', edit_tweet_path(tweet.id) %>
    <br>
</p>
<hr>

<% end %>
<p><%= link_to 'ツイート', new_tweet_path %></p>