<% if flash[:notice] %>
  <p><font color="red"><span style="font-weight:bold;"><%= flash[:notice] %></font></span></p>
<% end %>

<%= form_for @tweet , name: {action: :create} do |f| %>
<%= f.label :message, 'メッセージ' %>
<%= f.text_field :message %>
<% @tweet.tdate = Time.current %>
<%= f.hidden_field :tdate %>
<%= f.submit '登録' %>
<% end %>
