
#sidebar{
    background: #f0f8ff;
      height: 70%;
      width: 32%;
     float:left ;
}

#content {
  background: #f0f8ff;
  height: 70%;
  width: 66%;
  float:right;
  margin: 0 0 0 auto;
}

#container{
}

.trim-image-to-circle {
    background-image: url("a.png");
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    border: 9px solid white; /* 枠線を付加 */
}

b {
    font-weight: normal;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}